* {
    box-sizing: border-box;

}

body {
    background-color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    max-width: 960px;
    margin: auto;
    text-align: left; 
    line-height: 150%;
}

header {
    height: 75px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
}

#myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    float: left;  
    width: 260px; /*Width Needed to display this particular name*/
    height: 100%;  
    text-align: left;
    padding: 18px;
}

nav {
    float: left;
    position: relative;
    left: 0px;
    width: 700px; /*Left + Width = 700px + 260px in specs = 960 total width in specs*/    
    height: 100%;
    text-align: right; 
    padding-top: 28px;   
}

.navitem {
    font-size: 14px;
    font-weight: normal;
    color: #bbbbbb;
    text-decoration: none;
    padding: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
}

#content {
    background-image: url("../images/mochaGrunge.png");
    height: 744px;
    position:absolute;
    right:0;
    left:0;
    border: thick;
    padding: 20px 20px 60px 20px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #6b6b6b;
}

#contact {
    background-image: url("../images/mochaGrunge.png");
    height: 744px;
    position:absolute;
    right:0;
    left:0;
    border: thick;
    padding: 20px 20px 60px 20px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #6b6b6b;

}

section {
    max-width: 960px;
    margin: auto;
    background-color:#ffffff;
}

#wrapper {
    Padding-bottom: 5px;
}

#contact {
    Padding-bottom: 5px;
}


hr {
    border: none;
    height: 3px;
    width: 95%;
    background-color: #B7B8B6;
}

img {
    width: 200px; /* Not setting height so that image will stay porportional to original*/
    padding: 10px;
}

#aboutImg {
    float: left;
    margin-left: 18px;
}

.portfolioImgs {
    width: 300px; /* Not setting height so that image will stay porportional to original*/
    height: 180px;
    padding: 10px;
    margin-left: 18px;
}

p {
    position: relative;
    left: 15px;
    margin-right: 50px;
    padding-left: 10px;


}

form {
    padding: 20px;
}

input {
    width: 100%;
    height: 35px;
}

.input {
    padding-bottom: 20px;
}


textarea {
    width: 100%;
    height: 225px;
}

.button {
    width: 125px;
    height: 50px;
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    clear: both;
    text-align: center;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;

}

#copyright {
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}